/* COMMIT SECTION */

.commit-section {
    padding-top: 20px;
}

.commit-container {
  padding: 0 20px;
}

.commit-inner {
  display: flex;
  background-color: #f8f8f2;
  padding-top: 160px;
  padding-bottom: 200px;
  padding-left: 165px;
  padding-right: 64px;
}

.commit-img {
  object-fit: contain;
  width: 360px;
  height: 364px;
  margin-right: 185px;
}

.commit-content {
  width: 50%;
}

.commit-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 24px;
}

.commit-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* QUALITY SECTION */

.quality-section {
  margin-bottom: 20px;
}

.quality-container {
  padding: 0 20px;
}

.quality-inner {
  display: flex;
  background-image: url("../img/choose--bg.jpg");
  background-size: 100% 510px;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 100px 50px 90px 143px;
}

.quality-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 38px;
}

.quality-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}

.quality-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.8;
}

.quality-img {
  width: 550px;
  height: 500px;
}

/* COUNTRY SECTION */

.country-section {
  margin-bottom: 50px;
}

.country-container {
  padding: 0px 20px;
}

.country-inner {
  padding: 50px 30px 100px;
  background-image: url("../img/plan-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.country-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 80px;
}

.countru-box-list {
  margin-left: -20px;
  display: flex;
}

.country-box-item {
  width: calc(100% / 3 - 20px);
  background-color: #f8f8f2;
  background-image: url('../img/UK.svg');
  background-repeat: no-repeat;
  background-position: 258px 45px;
  padding: 140px 182px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.country-box-item:nth-child(2) {
    background-image: url('../img/canada.svg');
}

.country-box-item:nth-child(3) {
    background-image: url('../img/australia.svg');
}

.country-box-item:not(:last-child) {
  margin-right: 20px;
}

.country-box-heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

.country-info-list {
  padding: 0;
}

.country-info-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* RETINA BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .quality-inner {
    background-image: url("../img/choose--bg@2x.jpg");
  }
  .country-inner {
    background-image: url("../img/plan-bg@2x.jpg");
  }
}
