/* PLAN SECTION */

.plan-section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.plan-container {
  padding: 0px 20px;
}

.plan-inner {
  background-image: url("../img/plan-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 30px;
  text-align: center;
}

.plan-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.plan-box-item::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #f8f8f2;
  border: 4px solid #c99b67;
  margin-bottom: 20px;
}

.plan-box-list {
  padding: 0;
  display: flex;
  text-align: left;
  margin-left: -20px;
  counter-reset: HOW-IT-WORKS;
  margin-bottom: 60px;
}

.plan-box-item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  counter-increment: HOW-IT-WORKS;
  display: flex;
  flex-direction: column;
}

.plan-box-info {
  background-color: #fff;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.plan-box-info::before {
  content: "0" counter(HOW-IT-WORKS);
  display: inline-block;
  align-self: flex-end;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 45px;
}

.plan-box-heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 231px;
}

.plan-box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* DRINK SECTION */

.drink-section {
  margin-bottom: 50px;
}

.drink-container {
  padding: 0 20px;
}

.drink-inner {
  background-color: #f8f8f2;
  padding: 50px 140px 50px 30px;
  display: flex;
  justify-content: space-between;
}

.drink-menu-list {
  width: 202px;
  padding: 0;
}

.drink-menu-item {
  margin-bottom: 35px;
}

.drink-menu-link {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #555555;
}

.drink-toggle-list {
  width: 660px;
}

.drink-toggle-item:not(:last-child) {
  margin-bottom: 60px;
}

.drink-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.drink-title-link {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  display: flex;
  align-items: center;
}

.down-icon {
  margin-left: auto;
  width: 40px;
  height: 40px;
}
.drink-choose-blocks {
  display: flex;
  margin-left: -18px;
}

.drink-choose-block {
  margin-left: 18px;
  background-color: rgba(10, 119, 95, 0.2);
  padding: 30px 12px;
}

.drink-choose-block-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--body-color);
}

.drink-choose-block-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/* ORDER SUMMARY */

.order-summary {
  background-color: #c99b67;
  padding: 40px 20px;
  margin-bottom: 60px;
}

.summary-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.summary-quote {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
}

.black {
  color: var(--body-color);
}

.order-btn {
  margin-left: auto;
  display: block;
}
