/* PLAN SECTION */

.plan-section {
  margin-top: 20px;
  margin-bottom: 50px;
}

.plan-container {
  padding: 0px 20px;
}

.plan-inner {
  background-image: url("../img/plan-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 30px;
  text-align: center;
  position: relative;
}

.plan-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.plan-box-list {
  padding: 0;
  display: flex;
  text-align: left;
  margin-left: -20px;
  counter-reset: HOW-IT-WORKS;
  margin-bottom: 60px;
}

.plan-box-item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  counter-increment: HOW-IT-WORKS;
  display: flex;
  flex-direction: column;
  position: relative;
}

.plan-box-info {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.plan-box-info::before {
  content: "0" counter(HOW-IT-WORKS);
  display: inline-block;
  align-self: flex-end;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 45px;
}

.plan-box-info::after {
  content: "";
  width: 433px;
  height: 4px;
  background-image: url("../img/plan-box-after.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 30px;
}

.after-none::after {
  display: none;
}

.plan-box-heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 231px;
}

.plan-box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.input-controller {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #f8f8f2;
  border: 4px solid #c99b67;
  margin-bottom: 20px;
  z-index: 100;
  cursor: pointer;
}

.input:checked + .input-controller {
  background-image: url("../img/check-regular-24.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 4px solid #c99b67;
}

.input:checked ~ .plan-box-info {
  background-color: #c99b67;
  color: #fff;
}

/* DRINK SECTION */

.drink-section {
  margin-bottom: 50px;
}

.drink-container {
  padding: 0 20px;
}

.drink-inner {
  background-color: #f8f8f2;
  padding: 50px 140px 50px 30px;
  display: flex;
  justify-content: space-between;
}

.drink-menu-list {
  width: 202px;
  padding: 0;
}

.drink-menu-item {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #555555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.drink-menu-item:hover {
  opacity: 0.8;
}

.drink-menu-item:active {
  opacity: 0.6;
}

.drink-toggle-list {
  width: 660px;
}

.drink-toggle-item:not(:last-child) {
  margin-bottom: 60px;
}

.drink-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.drink-title:hover {
  opacity: 0.8;
}

.drink-title:active {
  opacity: 0.6;
}

.down-icon {
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.drink-choose-blocks {
  display: flex;
  margin-left: -18px;
}

.radio-controller {
  margin-left: 18px;
  background-color: rgba(10, 119, 95, 0.2);
  padding: 30px 12px;
  height: 100%;
  cursor: pointer;
}

.drink-choose-block-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--body-color);
}

.drink-choose-block-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.drink-choose-block-title {
  color: inherit;
}

.radio:checked ~ .radio-controller {
  background-color: #0a775f;
  color: #fff;
}

.drink-choose-blocks {
  display: none;
}

.drink-choose-blocks-open {
  display: block;
  display: flex;
}

/* ORDER SUMMARY */

.order-summary {
  background-color: #c99b67;
  padding: 40px 20px;
  margin-bottom: 60px;
}

.summary-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.summary-quote {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
}

.black {
  color: var(--body-color);
}

.order-btn {
  margin-left: auto;
  display: block;
}
