/* COLLECTION SECTION */

.collection-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.collection-container {
  padding-right: 20px;
  padding-left: 20px;
}

.collection-section-inner {
  background-color: var(--collection-bg);
  padding-top: 50px;
  padding-bottom: 50px;
}

.collection-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 80px;
}

.collection-box-list {
  max-width: 1114px;
  margin-left: auto;
  margin-right: auto;
}

.collection-box-item {
  display: flex;
  align-items: center;
}

.collection-box-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.collection-box-img {
  margin-right: 117px;
  width: 450px;
  height: 375px;
}

.collection-box-item:nth-child(2n) .collection-box-img {
  margin-right: 0;
  margin-left: 117px;
}

.collection-box-content {
  max-width: 453px;
}

.collection-box-heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

.collection-box-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
}

/* SCHOOSE SECTION */

.choose-container {
  padding-left: 20px;
  padding-right: 20px;
}

.choose-section-inner {
  background-image: url("../img/choose--bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 703px;
  padding: 50px 30px;
}

.choose-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
}

.choose-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  max-width: 581px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.8;
  margin-bottom: 80px;
}

.choose-card-list {
  display: flex;
  padding: 0;
  margin-left: -20px;
}

.choose-card-item {
  width: calc(100 / 3 - 20px);
  margin-left: 20px;
}

.choose-card-img {
  width: 100%;
  height: 500px;
  margin-bottom: 28px;
}

.choosr-card-heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-top: 0;
  margin-bottom: 10px;
}

.choose-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

/* PLAN SECTION */

.plan-section {
  margin-bottom: 50px;
}

.plan-container {
  padding: 0px 20px;
}

.plan-inner {
  background-image: url("../img/plan-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 30px;
  text-align: center;
}

.plan-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.plan-box-item::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #f8f8f2;
  border: 4px solid #c99b67;
  margin-bottom: 20px;
}

.plan-box-list {
  padding: 0;
  display: flex;
  text-align: left;
  margin-left: -20px;
  counter-reset: HOW-IT-WORKS;
  margin-bottom: 60px;
}

.plan-box-item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  counter-increment: HOW-IT-WORKS;
  display: flex;
  flex-direction: column;
}

.plan-box-info {
  background-color: #fff;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.plan-box-info::before {
  content: "0" counter(HOW-IT-WORKS);
  display: inline-block;
  align-self: flex-end;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 45px;
}

.plan-box-heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 231px;
}

.plan-box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* RETINA BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .choose-section-inner {
    background-image: url("../img/choose--bg@2x.jpg");
  }
  .plan-inner {
    background-image: url("../img/plan-bg@2x.jpg");
  }
}
