.collection-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.collection-container {
  padding-right: 20px;
  padding-left: 20px;
}

.collection-section-inner {
  background-color: var(--collection-bg);
  padding-top: 50px;
  padding-bottom: 50px;
}

.collection-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 80px;
}

.collection-box-list {
  max-width: 1114px;
  margin-left: auto;
  margin-right: auto;
}

.collection-box-item {
  display: flex;
  align-items: center;
}

.collection-box-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.collection-box-img {
  margin-right: 117px;
  width: 450px;
  height: 375px;
}

.collection-box-item:nth-child(2n) .collection-box-img {
  margin-right: 0;
  margin-left: 117px;
}

.collection-box-content {
  max-width: 453px;
}

.collection-box-heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

.collection-box-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
}
