/* CUSTOM PROPERTIES */

:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #0a775f;
  --light-yellow: #f3d7b7;
  --body-color: #333333;
  --yellow-btn-color: #c99b67;
  --collection-bg: #f8f8f2;
}

/* FONTS */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--accent-color);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: var(--body-color);
  font-family: var(--main-font);
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  flex-grow: 1;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.6;
}

li {
  list-style: none;
}

img {
  display: block;
}

a,
span,
button {
  display: inline-block;
}

.btn {
  align-items: center;
  cursor: pointer;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  border: 0;
  text-transform: uppercase;
  border-radius: 100px;
  color: #ffffff;
  transition: background-color 0.3s;
}

.green-btn {
  background-color: var(--accent-color);
}

.yellow-btn {
  background-color: var(--yellow-btn-color);
}

.btn:hover {
  --accent-color: rgba(10, 119, 95, 0.8);
  background-color: var(--accent-color);
}

.btn:active {
  --accent-color: rgba(10, 119, 95, 0.6);
  background-color: var(--accent-color);
}

.yellow-btn:hover {
  --accent-color: rgba(243, 215, 183, 0.8);
  background-color: var(--accent-color);
}

.yellow-btn:active {
  --accent-color: rgba(243, 215, 183, 0.6);
  background-color: var(--accent-color);
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.site--header,
.site-footer {
  background-color: var(--light-yellow);
}

.header-container,
.footer-container {
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo,
.footer-logo {
  display: flex;
}

.header-logo-img,
.footer-logo-img {
  width: 203px;
  height: 24px;
  flex-shrink: 0;
}

.site-nav-list {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 40px;
}

.site-nav-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  white-space: nowrap;
  color: var(--body-color);
}

/* HERO SECTION */

.hero-section {
  background-color: var(--light-yellow);
}

.hero-section-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hero-section-content {
  padding-top: 116px;
  padding-bottom: 116px;
  padding-right: 116px;
  padding-left: 150px;
}

.hero-content-heading {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}

.hero-content-text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 34px;
  line-height: 24px;
  color: #000000;
}

.hero-section-img {
  width: 710px;
  height: 696px;
  object-fit: cover;
}

/* COFFEE IMG */

.coffee-img {
  position: absolute;
  right: 43%;
  border-radius: 50%;
  transform: translateY(-45%);
}

/* FOOTER */

.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 30px;
}

.footer-social-link {
  display: flex;
  color: var(--body-color);
}

.footer-social-link:hover {
  color: var(--accent-color);
}
