/* CUSTOM PROPERTIES */

:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #0a775f;
}

/* FONTS */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--accent-color);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #333;
  font-family: var(--main-font);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.main-content {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

a,
span,
button {
  display: inline-block;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */




/* RETINA BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
